body
{
	background-color:brown;
}

.login-page , .register-page
{
	width: 500px;
	padding: 3% 0 0;
	margin: auto;
}

.form
{
	text-align: center;
	padding: 15px 40px 40px 40px;
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input , .form .data input
{
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	margin: 0 0 15px 0;
	background-color: #f2f2f2;
	border:0 ;
}

.form .radio 
{
	text-align: left;
}

.form button
{
	width:100%;
	padding: 15px;
	background-color: brown;
	border: 0;
	color: white;
	text-transform: uppercase;
	margin-top: 10px;
}

.message
{
	font-size: 15px;
	margin-top: 15px;
	color: #b2bec3;
}

.message a
{
	text-decoration: none;
	color: #6c5ce7;
}

.form button:hover
{
	background-color: #ed5c5c;
}

.form h1
{
	color: #636e72;
	text-transform: uppercase;
}